*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  font-family: "Merriweather", serif;
  background-color: #e8ecef;
}

.centered {
  text-align: center;
}

h5 {
  color: gray;
}

p {
  word-break: break-word;
}

.green-text {
  color: green;
}

.flash {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.loaded.flash {
  opacity: 1;
}

.flash--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

#auto-hide {
  position: absolute;
  top: 10%;
  z-index: 2;
  width: 100%;
  background-color: #e8ecef;
  text-align: center;
  height: 25px;
  line-height: 25px;
}

.flash--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.flash_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.flash_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.flash--cards {
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.flash--card {
  display: inline-block;
  width: 300px;
  /* max-width: 90vw; */
  height: 300px;
  max-height: 50vh;
  /* background: #ffffff; */
  /* padding-bottom: 40px; */
  /* border: 1px solid red; */
  border-radius: 20px;
  /* overflow: hidden; */
  position: absolute;
  will-change: transform;
  transition: all 0.5s ease-in-out;
  perspective: 1000px;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.flash--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.flash--card h3 {
  margin-top: 16px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.flash--card p {
  margin-top: 24px;
  font-size: 18px;
  padding: 0 16px;
  pointer-events: none;
}

.flash--buttons {
  flex: 0 0 60px;
  /* align-items: flex-start; */
  text-align: center;
  /* padding-top: 20px; */
}

.flash--buttons button {
  border-radius: 50%;
  line-height: 50px;
  width: 50px;
  border: 0;
  background: #ffffff;
  display: inline-block;
  margin: 0 8px;
}

.flash--buttons button:focus {
  outline: 0;
}

.flash--buttons i {
  font-size: 24px;
  vertical-align: middle;
}

.muted {
  color: lightgray;
}

.fa-heart {
  color: #fface4;
}

.fa-remove {
  color: #cdd6dd;
}

/*** FLIPPING ***/

.content {
  width: 100%;
  height: 100%;
  /* border: 1px solid green; */
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.content.is-flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  border: 1px solid black;
  /* line-height: 260px; */
  background-color: #fde49c;
  /* text-align: center;
  padding: 70px 0; */
  /* font-weight: bold; */
  /* font-size: 40px; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  background-color: #95DAC1;
  transform: rotateY(180deg);
}
